In [3]:
a='b'
print (type(a))
a=int(a)
print (a,type(a))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'b'

In [2]:
a='20'
print (type(a))
a=int(a)
print (a,type(a))

<class 'str'>
20 <class 'int'>

In [5]:
a='20'
print (type(a))
a=float(a)
print (a,type(a))

<class 'str'>
20.0 <class 'float'>

In [6]:
a=20.3333333
print (type(a))
a=int(a)
print (a,type(a))

<class 'float'>
20 <class 'int'>

In [7]:
a=30
print (type(a))
a=str(a)
print (a,type(a))

<class 'int'>
30 <class 'str'>

In [8]:
a=20.3333
print (type(a))
a=str(a)
print (a,type(a))

<class 'float'>
20.3333 <class 'str'>

In [9]:
a='b'
print (type(a))
a=float(a)
print (a,type(a))

<class 'str'>

ValueError: could not convert string to float: 'b'

In [10]:
a=True
print (type(a))
a=str(a)
print (a,type(a))

<class 'bool'>
True <class 'str'>

In [11]:
a=True
print (type(a))
a=float(a)
print (a,type(a))

<class 'bool'>
1.0 <class 'float'>

In [12]:
a=20
print (type(a))
a=bool(a)
print (a,type(a))

<class 'int'>
True <class 'bool'>

In [13]:
a=20.3333
print (type(a))
a=bool(a)
print (a,type(a))

<class 'float'>
True <class 'bool'>

In [14]:
a=-2.3
print (type(a))
a=bool(a)
print (a,type(a))

<class 'float'>
True <class 'bool'>

In [15]:
a='b'
print (type(a))
a=bool(a)
print (a,type(a))

<class 'str'>
True <class 'bool'>

In [16]:
a=0.3333
print (type(a))
a=bool(a)
print (a,type(a))

<class 'float'>
True <class 'bool'>

In [17]:
a=0
print (type(a))
a=bool(a)
print (a,type(a))

<class 'int'>
False <class 'bool'>